var config = {
	commandPath: "commands",
	updateInterval: 3000,
	username: "bot@example.com",
	password: "",
	flowName: "<nameOfTheFlow>",
	syntax_error_message: "mm?",
	
	messageOptions: {
		host: '<yourdomain>.flowdock.com',
	}
	
};